# 依赖
node_modules/

# 构建产物
dist/
dist-electron/
release-build/

# 环境变量
.env
.env.local
.env.production

# 日志
*.log
npm-debug.log*

# 系统文件
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]

# 测试
coverage/

# 二进制文件
*.exe
*.blockmap
*.pak
*.dll
*.ico

# 密钥（不上传仓库）
token.txt

# 临时文件
*.tmp
